<mat-sidenav-container class="h-screen">
  <mat-sidenav #sidenav mode="side" opened>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-list role="list flex-col justify-items-center">
      <mat-list-item role="listitem" class="max-w-28 min-h-28">
        <img src="/assets/contrack-logo.png" alt="" class="rounded-full">
      </mat-list-item>
      <mat-list-item role="listitem">Tablero</mat-list-item>
      <mat-list-item role="listitem">Calidad</mat-list-item>
      <mat-list-item role="listitem">Proyecto</mat-list-item>
      <mat-list-item role="listitem">Documentos</mat-list-item>
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>
